
=font($font-family, $font-style)
    @font-face
        font-family: $font-family + ' ' + $font-style
        src: url('../fonts/#{$font-family}/#{$font-family}-#{$font-style}.ttf') format('truetype')

=noselect
    user-select: none

=vcenter
    position: relative
    top: 50%
    transform: translateY(-50%)

$navHeight: 80px
$lightGray: #f5f5f5
$mediumGray: #aeaeae
$darkGray: #777
$darkerGray: #444
$darkBlue: rgb(32, 87, 155)
$darkerBlue: rgb(16, 48, 89)
$dist: 40px

+font('PlayfairDisplay', 'Bold')
+font('OpenSans', 'Light')
+font('OpenSans', 'Regular')
+font('OpenSans', 'Semibold')

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body, #root
    width: 100%
    height: 100%
    overflow: hidden

.dbp-wiki-wrapper
    width: 100%
    height: calc(100% - #{$navHeight})
    background-color: white
    padding: $dist $dist * 4
    overflow-y: scroll
    overflow-x: hidden

.dbp-wiki-nav
    height: $navHeight
    background-color: white
    font-size: 1.2em
    display: flex
    flex-direction: row
    padding: 0 $dist * 4
    font-family: 'PlayfairDisplay Bold'

    a
        text-decoration: none
        color: inherit

    .dbp-wiki-nav-item
        height: $navHeight / 2
        margin: $navHeight / 4 0
        line-height: $navHeight / 2
        transition: color 0.1s ease
        color: $darkGray
        +noselect
        cursor: pointer

        &:hover
            color: black

    .dbp-wiki-nav-title
        margin-right: auto

    .dbp-wiki-nav-right
        font-family: 'OpenSans Light'

        &:not(:last-child)
            margin-right: 20px

.dbp-small-container
    width: 500px
    margin: auto

.dbp-wiki-title
    font-family: 'PlayfairDisplay Bold'
    font-size: 3em
    +noselect
    color: $darkerGray

.dbp-p
    font-family: 'OpenSans Light'
    color: $darkGray
    font-size: 1.1em
    margin-top: 20px
    line-height: 180%
    +noselect

    b
        font-family: 'OpenSans Semibold'
        color: $darkerGray

    a
        font-family: 'OpenSans Regular'
        text-decoration: none
        color: $darkBlue
        transition: color 0.1 ease

        &:hover
            color: $darkerBlue

.dbp-button-prominent
    padding: 16px
    font-size: 1.1em
    outline: none
    cursor: pointer
    border: none
    border-radius: 4px
    background-color: $mediumGray
    font-family: 'OpenSans Semibold'
    color: white
    margin: 30px 0
    transition: background-color 0.1s ease
    +noselect

    &:hover
        background-color: $darkGray

.dbp-spinner-container
    height: 50px
    margin: 20px 0

    & .sk-spinner
        display: inline-block
        +vcenter

    & .dbp-p
        color: $darkerGray
        margin: -5px 0 0 15px
        display: inline-block
        line-height: 50px

        & b
            position: relative
            top: -3px

.dbp-router-fade-enter
    opacity: 0
    z-index: 1

.dbp-router-fade-enter.dbp-router-fade-enter-active
    opacity: 1
    background-color: red
    transition: opacity 0.5s ease
