
=font($font-family, $font-style)
    @font-face
        font-family: $font-family + ' ' + $font-style
        src: url('../fonts/#{$font-family}/#{$font-family}-#{$font-style}.ttf') format('truetype')

=noselect
    user-select: none

=vcenter
    position: relative
    top: 50%
    transform: translateY(-50%)

$navHeight: 80px
$lightGray: #f5f5f5
$mediumGray: #aeaeae
$darkGray: #777
$darkerGray: #444
$dist: 40px

+font('PlayfairDisplay', 'Bold')
+font('OpenSans', 'Light')
+font('OpenSans', 'Semibold')

*
    margin: 0
    padding: 0
    box-sizing: border-box

html, body, #root
    width: 100%
    height: 100%
    overflow: hidden

.fp-wiki-wrapper
    width: 100%
    height: calc(100% - #{$navHeight})
    background-color: $lightGray
    padding: $dist $dist * 4
    overflow-y: scroll
    overflow-x: hidden

.fp-wiki-nav
    height: $navHeight
    background-color: white
    color: $darkerGray
    font-family: 'PlayfairDisplay Bold'
    font-size: 1.2em
    display: flex
    flex-direction: row
    padding: 0 $dist * 4

    .fp-wiki-nav-item
        height: $navHeight / 2
        margin: $navHeight / 4 0
        line-height: $navHeight / 2
        +noselect
        cursor: pointer

        &:hover
            color: black

    .fp-wiki-nav-title
        margin-right: auto

    .fp-wiki-nav-right
        &:not(:last-child)
            margin-right: 20px

.fp-small-container
    width: 500px
    margin: auto

.fp-wiki-title
    font-family: 'PlayfairDisplay Bold'
    font-size: 3em
    +noselect
    color: $darkerGray

.fp-p
    font-family: 'OpenSans Light'
    color: $darkGray
    font-size: 1.1em
    margin-top: 20px
    line-height: 180%
    +noselect

    b
        font-family: 'OpenSans Semibold'

.fp-button-prominent
    padding: 16px
    font-size: 1.1em
    outline: none
    cursor: pointer
    border: none
    border-radius: 4px
    background-color: $mediumGray
    font-family: 'OpenSans Semibold'
    color: white
    margin: 30px 0

.fp-spinner-container
    height: 50px
    margin: 20px 0

    & .sk-spinner
        display: inline-block
        +vcenter

    & .fp-p
        color: $darkerGray
        margin: -5px 0 0 15px
        display: inline-block
        line-height: 50px

        & b
            position: relative
            top: -3px
